.MainBody .material-icons {
    padding-left: 5px;
}

.MainBody {
	overflow-y: auto;
	height: 100%;
}

.MainBody>.MainBodyContainer{
	height: 100%;
}

.FoosTable{
	flex:6;
	background-image: url(../img/foosball.svg);
	background-size: contain;
	background-position: 50% 20%;
	background-repeat: no-repeat;
}

@media screen and (orientation: portrait) {
	.MainBody>.MainBodyContainer>.TeamsContainer{
		height: calc(100% - 80px);
		display: flex;
	}

}

@media screen and (orientation: landscape) {
	.MainBody>.MainBodyContainer>.TeamsContainer{
		height: calc(100% - 50px);
		display: flex;
	}
}

