.team {
	display: flex;
	flex:2;
	flex-direction: column;
	justify-content: space-evenly;
  }
  
.team img {
    width: 60px;
    height: 60px;
 }

.transparent {
    opacity: 0.1;
  }
.transparent.ish {
    opacity: 1;
}