body {
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  max-width: 960px;
}

html, #root, body {
  height: 100%;
}

@media (min-width: 1281px) {
  
  body {
    width: 960px;
  }
  
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #f2f2f2;
}

.App-header {
	background-image: url(./img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
  }

@media screen and (orientation: portrait) {
  .App-header {
	height: 30%;
	background-size: 105% 100%;
  }
}

@media screen and (orientation: landscape) {
	.App-header {
	  height: 15%;
	  background-size: contain;
	}
  }

.BottomSelector {
  border-top: solid 1px #3F51B5;
}